.address-title {
  margin: 0;
  margin-bottom: 8px;
  margin-top: 20px;
  color: $primary-bg-color;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

footer {
  width: 100vw;
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $accent-bg-color;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    // width: 768px;
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    // width: 1600px;
    height: 252px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: auto;
  padding-right: auto;
  margin: 0;
  justify-content: center;
  @media screen and (min-width: 768px) {
    padding-left: 76px;
    padding-right: 89px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
    justify-content: space-between;
  }
}

.ftr-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-col1__contacts {
  display: block;
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
    margin-bottom: 0;
  }
  &:hover,
  &:focus {
    color: #2196f3;
  }
}

.footer-col1 {
  width: 231px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
.footer-col2__social {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin: -5px;
}
.footer-col2__list {
  display: flex;
  margin: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: #43444d;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 5px;

  &:focus,
  &:hover {
    background-color: #2196f3;
  }
}
.footer-col2 {
  display: flex;
  flex-direction: column;
  //margin-top: 12px;
  //margin-left: 70px;
  width: 206px;
  height: 80px;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin-top: 5px;

    //  margin-left: 165px;
    margin-bottom: 102px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-bottom: 100px;
  }
}
.footer__title {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-bottom: 20px;
  }
}
.icon-footer {
  fill: #fff;
}
.footer-col3 {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 450px;
  height: 86px;
  //margin-left: 93px;
  margin-top: 12px;
  padding-top: 12px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    max-width: 570px;
    // align-items: center;
    //margin-left: 93px;
    margin-bottom: 94px;
  }
}

.footer-col3__sign-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer-col3__sign-input > input {
  box-sizing: border-box;
  border: 1px solid $text-color;
  background-color: $accent-bg-color;
  max-width: 358px;
  width: 100%;
  height: 50px;
}
.button--ftr {
  width: 200px;
  height: 50px;
  color: #fff;
  background-color: $accent-color;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  padding: 10px 62px 10px 29px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0;

  border: none;
  border-radius: 4px;
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer-col3__icon {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 28px;
  top: 12px;
  fill: #ffffff;
}
.footer-col3__btn {
  position: relative;
  width: 200px;
}
.footer-col3__input {
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  margin-bottom: 20px;
}
.footer-col3__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
