a {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
.menu-button {
  background-color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  z-index: 999;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.menu-container {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 48px 40px;
  background-color: $primary-bg-color;
  z-index: 99;

  &.is-open {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    height: 100vh;
    // width: 100vw;
    top: 0;
    left: 0;
  }
  @media screen and (min-width: 768px) {
    padding: 0;
    height: 100%;
  }
}

.menu-button .icon-close {
  display: none;
}
.menu-button.is-open .icon-close {
  display: block;
}
.menu-button.is-open .icon-menu {
  display: none;
}
.line {
  border-bottom: 1px solid #ececec;
}
.main-nav {
  position: relative;
  //width: 480px;
  height: 60px;
  //padding-top: 16px;
  //padding-bottom: 16px;
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
    display: flex;
    align-items: center;
  }
}

.site-nav {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 88px;
    margin-right: 84px;
  }
}
.site-nav__item {
  position: relative;

  align-items: center;
  //margin-left: auto;
  margin-right: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.site-nav__item:last-child {
    margin-right: 0;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  //padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* &:last-child {
    padding-bottom: 0;
  }*/
  @media screen and (max-width: 767px) {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &::after,
  &::after {
    opacity: 1;
  }
}
.site-nav__link::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    background-color: $accent-color;
  }
}
.activ::after {
  opacity: 1;
}

.auth-nav {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 302px;
  margin-bottom: 64px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: auto;
    align-items: center;
    padding: 21px 0;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;

    justify-content: flex-start;
  }
}
.auth-nav__contacts1,
.auth-nav__contacts2 {
  // margin-left: 50px;
  color: $text-color;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 768px) {
    display: inline-flex;
    @media screen and (max-width: 1199px) {
      align-content: flex-start;
    }
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #757575;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.auth-nav__contacts2 {
  @media screen and (max-width: 767px) {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    color: $accent-color;

    letter-spacing: 0.02em;
  }
}
.auth-nav__contacts1 {
  @media screen and (max-width: 767px) {
    display: block;
    margin-top: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

.auth-nav__icon-contacts {
  fill: currentColor;
  margin: 0;
  margin-right: 10px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.mobile-list {
  display: flex;
  justify-content: space-between;
  margin: -10px;
  @media screen and (min-width: 767px) {
    display: none;
  }
}
.mobile-list__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  letter-spacing: 0.02em;
  color: $accent-color;
  margin: 10px;
}
