.logo {
  font-family: raleway;
  color: $accent-color;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo1 {
  font-family: raleway;
  color: $title-text-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo2 {
  font-family: raleway;
  color: $primary-bg-color;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
